@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  box-shadow: 0 8px 6px -6px gray;
  border-bottom: 0.3px solid gray;
}

.product-card{
  box-shadow: 2px 2px 8px gray;
}

.navbar-custom {
  color: white;
}

.navbar-custom:hover,
.navbar-custom:click {
  color: white;
}

.nav-link {
  font-weight: 500 !important;
}

.nav-link.active {
  color: white;
}

.active {
  border-bottom: 2px solid hsl(60, 94%, 51%);
}

#navbarText {
  margin-right: 20px;
  color: white;
}

.brand {
  margin-left: 20px;
  letter-spacing: 1px;
  font-weight: 600;
}

/* Center the 404 page in the middle of the screen */
.pnf {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

/* Style the title */
.pnf-title {
  font-size: 6rem;
  font-weight: bold;
  margin: 0;
  color: #333;
}

/* Style the page detail */
.pnf-detail {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0;
  color: #555;
  text-align: center;
}

/* Style the 'Go Back' button */
.pnf-btn {
  display: inline-block;
  padding: 1rem 2rem;
  margin-top: 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

/* Hover effect for the 'Go Back' button */
.pnf-btn:hover {
  background-color: #555;
}

.login-container {
  background-color: #f8f9fa;
  border: 2px solid darkgray;
}

.zoom-image {
  transition: transform 0.3s ease-in-out;
}

.zoom-image:hover {
  transform: scale(1.05);
}

.cart-badge {
  background-color: #ff527b;
  font-size: 12px;
  border-radius: 50%;
  padding: 3px 6px;
  position: absolute;
  top: -10px;
  right: -17px;
}

.remove-icon {
  cursor: pointer;
  font-size: 48px;
  color: black;
}

.remove-icon:hover {
  transform: scale(1.1);
}

@keyframes fadeSlideUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeSlideSide {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.cool-animation {
  animation: fadeSlideUp 1s ease-in-out;
}

.x-animation {
  animation: fadeSlideSide 1s ease-in-out;
}


@media (max-width: 767px) {
  .direction {
    flex-direction: column;
  }
  .main-info{
    height: 50%;
  }
}
